# config/logging.config
log4j.logger.ros.tf=ERROR
log4j.logger.ros.roscpp.tf=ERROR
log4j.logger.ros.tf2=ERROR
log4j.logger.ros.navigation=INFO
log4j.logger.ros.pathplanning=INFO

log4j.appender.consoleAppender=org.apache.log4j.ConsoleAppender
log4j.appender.consoleAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.consoleAppender.layout.ConversionPattern=[%-5p] [%t] %m%n